<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="diskimage_explorer_x68k"
    Manufacturer="NAKA-X68K"
    Version="$(var.AppVersion)"
    UpgradeCode="{35A1CD0F-6C08-4ADF-9329-C5590C4E4ACB}"
    Language="1041"
    Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="diskimage_explorer_x68k" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="diskimage_explorer_x68k" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="*">
        <Shortcut
          Id="DesktopShortcut"
          Name="diskimage_explorer_x68k"
          Description="diskimage_explorer_x68k"
          Target="[INSTALLFOLDER]diskimage_explorer_x68k.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue
          Root="HKCU"
          Key="Software\NAKA-X68K\diskimage_explorer_x68k"
          Name="DesktopShortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
